<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="loader" fxLayout="row" fxLayoutAlign="center center" *ngIf="1>chartTemp.length">
  <img id="loaderGif" src="assets/ripple.gif">
</div>
<div id="countrySelecter" *ngIf="chartTemp.length>1">
<mat-form-field>
  <mat-select [(value)]="clientCountry" (selectionChange)="countryChanged()">
    <mat-option *ngFor="let item of countries;let i = index" [value]="item">{{item}}&nbsp;<img id="countryFlagIcons" src="assets/flagIcons/{{codes[i]}}.png"></mat-option>
  </mat-select>
  <img id="countryFlagIcons" src="assets/flagIcons/{{clientCountryCode}}.png">
</mat-form-field>
</div>

<div id="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" *ngIf="chartTemp.length>1">
  <div fxFlex="0" class="secNone" fxFlex.xs="15"></div>
  <div fxFlex="50" class="sec1" fxFlex.xs="35">
    <img id="countryFlagIcon" src="assets/flagIcons/{{clientCountryCode}}.png">
  <span id="totalLabelCountry">Total Confirmed Cases in {{clientCountry}}</span>
  <div id="confirmedCountCountry"[countUp]="tempCountry.confirmed" *ngIf="tempCountry">0</div>
  <div id="recDeCountCountry">
    <span id="activeLabel" *ngIf="tempCountry"> Active: <span [countUp]="tempCountry.confirmed-tempCountry.recovered">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="recLabel" *ngIf="tempCountry"> Recovered: <span [countUp]="tempCountry.recovered">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="deathLabel" *ngIf="tempCountry"> Deaths: <span [countUp]="tempCountry.deaths">0</span></span>
  </div>
  </div>

  <div fxFlex="50" class="sec2" fxFlex.xs="50">
    <img id="earthIcon" *ngIf="clientCountryCode.length>1" src="assets/earth.png">
  <span id="totalLabel">Total Confirmed Cases</span>
  <div id="confirmedCount"[countUp]="totalCount.confirmed" *ngIf="totalCount">0</div>
  <div id="recDeCount">
    <span id="activeLabel" *ngIf="totalCount"> Active: <span [countUp]="totalCount.confirmed-totalCount.recovered">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="recLabel" *ngIf="totalCount"> Recovered: <span [countUp]="totalCount.recovered">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="deathLabel" *ngIf="totalCount"> Deaths: <span [countUp]="totalCount.deaths">0</span></span>
</div>
</div>


</div>
<!-- <mat-toolbar>
  <span>COVID-19</span>
</mat-toolbar>-->


<div id="chartContainer" *ngIf="chartTemp.length>1">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartTemp"
      [labels]="testChartLabels"
      [options]="chartOptions"
      [legend]="true">
  </canvas>
</div> 

<router-outlet></router-outlet>