/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat-Regular", "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Montserrat-Bold;
    src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("assets/fonts/Montserrat-Thin.ttf") format("truetype");
}
